body {
    background: linear-gradient(to top, #58B0FF, white);
}

h1 {
    font-family: chalkduster;
}

h3 {
    margin-left: 30px;
}

.section p {
    text-align: justify;
}

#header {
    text-align: center;
}

#container {
    width: 800px;
    margin: auto;
}
#QuickInfos {
    position: absolute;
    right: 10px;
    top: 10px;
}
